.topbar .top-info {
    letter-spacing: 1px;
}

.text-secondary {
    color: crimson !important;
}

#note {
    width: 500px;
    overflow: hidden;
}

@keyframes mymove {
    from {left: -100%;}
    to {left: 100%;}
}


#note small {
    position: relative;
    display: inline-block;
    animation: mymove 5s infinite;
}

.bg-dark {
    background-color: #020202e6 !important;
}

